<?xml version="1.0"?>
<launch>
    <arg name="uav_name_0" default="uav0"/>
    <arg name="uav_name_1" default="uav1"/>
    <arg name="debug" default="false"/>
    <arg name="output_frame" default="fcu"/>
    <arg name="output_framerate" default="10"/>

   <group ns="$(arg uav_name_0)">
  
    <!-- <node pkg="uvdar_core" type="uvdar_filter_node" name="filterUvdar" output="screen" launch-prefix="debug_roslaunch"> -->
      <node pkg="uvdar_core" type="uvdar_filter_node" name="filterUvdar_0" output="screen">
        <param name="debug"             value="$(arg debug)" />
        <param name="uav_name"          value="$(arg uav_name_0)" />
        <param name="output_frame"      value="$(arg uav_name_0)/$(arg output_frame)"/>
        <param name="output_framerate"  value="$(arg output_framerate)" />
        <!-- <param name="indoor"            value="$(arg indoor)" /> -->
        <!-- <param name="use_velocity"      value="$(arg use_velocity)" /> -->
        <!-- <param name="anonymous_measurements"      value="$(arg anonymous_measurements)" /> -->

        <!-- <rosparam     unless="$(arg use_two_cameras)" param="measured_poses_topics"> ["measured_poses"] </rosparam> -->
        <!-- <remap        unless="$(arg use_two_cameras)" from="~measured_poses" to="/$(arg uav_name)/uvdar/measuredPoses"/> -->

        <!-- <rosparam     if="$(arg use_two_cameras)" param="measured_poses_topics"> ["measured_poses_L", "measured_poses_R"] </rosparam> -->
        <!-- <remap        if="$(arg use_two_cameras)" from="~measured_poses_L" to="/$(arg uav_name)/uvdar/measuredPosesL"/> -->
        <!-- <remap        if="$(arg use_two_cameras)" from="~measured_poses_R" to="/$(arg uav_name)/uvdar/measuredPosesR"/> -->

        <!-- <rosparam     if="$(arg use_three_cameras)" param="measured_poses_topics"> ["measured_poses_L", "measured_poses_R", "measured_poses_B"] </rosparam> -->
        <!-- <remap        if="$(arg use_three_cameras)" from="~measured_poses_L" to="/$(arg uav_name)/uvdar/measuredPosesL"/> -->
        <!-- <remap        if="$(arg use_three_cameras)" from="~measured_poses_R" to="/$(arg uav_name)/uvdar/measuredPosesR"/> -->
        <!-- <remap        if="$(arg use_three_cameras)" from="~measured_poses_B" to="/$(arg uav_name)/uvdar/measuredPosesB"/> -->
        <rosparam param="measured_poses_topics"> ["measured_poses"] </rosparam>
        <remap from="~measured_poses" to="/$(arg uav_name_0)/uvdar/measuredPoses"/>


        <remap from="~filtered_poses" to="/$(arg uav_name_0)/uvdar/filteredPoses"/>
        <remap from="~filtered_poses/tentative" to="/$(arg uav_name_0)/uvdar/filteredPoses/tentative"/>

    </node>
  </group>

  <group ns="$(arg uav_name_1)">
  
    <!-- <node pkg="uvdar_core" type="uvdar_filter_node" name="filterUvdar" output="screen" launch-prefix="debug_roslaunch"> -->
      <node pkg="uvdar_core" type="uvdar_filter_node" name="filterUvdar_1" output="screen">
        <param name="debug"             value="$(arg debug)" />
        <param name="uav_name"          value="$(arg uav_name_1)" />
        <param name="output_frame"      value="$(arg uav_name_1)/$(arg output_frame)"/>
        <param name="output_framerate"  value="$(arg output_framerate)" />
        <!-- <param name="indoor"            value="$(arg indoor)" /> -->
        <!-- <param name="use_velocity"      value="$(arg use_velocity)" /> -->
        <!-- <param name="anonymous_measurements"      value="$(arg anonymous_measurements)" /> -->

        <!-- <rosparam     unless="$(arg use_two_cameras)" param="measured_poses_topics"> ["measured_poses"] </rosparam> -->
        <!-- <remap        unless="$(arg use_two_cameras)" from="~measured_poses" to="/$(arg uav_name)/uvdar/measuredPoses"/> -->

        <!-- <rosparam     if="$(arg use_two_cameras)" param="measured_poses_topics"> ["measured_poses_L", "measured_poses_R"] </rosparam> -->
        <!-- <remap        if="$(arg use_two_cameras)" from="~measured_poses_L" to="/$(arg uav_name)/uvdar/measuredPosesL"/> -->
        <!-- <remap        if="$(arg use_two_cameras)" from="~measured_poses_R" to="/$(arg uav_name)/uvdar/measuredPosesR"/> -->

        <!-- <rosparam     if="$(arg use_three_cameras)" param="measured_poses_topics"> ["measured_poses_L", "measured_poses_R", "measured_poses_B"] </rosparam> -->
        <!-- <remap        if="$(arg use_three_cameras)" from="~measured_poses_L" to="/$(arg uav_name)/uvdar/measuredPosesL"/> -->
        <!-- <remap        if="$(arg use_three_cameras)" from="~measured_poses_R" to="/$(arg uav_name)/uvdar/measuredPosesR"/> -->
        <!-- <remap        if="$(arg use_three_cameras)" from="~measured_poses_B" to="/$(arg uav_name)/uvdar/measuredPosesB"/> -->
        <rosparam param="measured_poses_topics"> ["measured_poses"] </rosparam>
        <remap from="~measured_poses" to="/$(arg uav_name_1)/uvdar/measuredPoses"/>


        <remap from="~filtered_poses" to="/$(arg uav_name_1)/uvdar/filteredPoses"/>
        <remap from="~filtered_poses/tentative" to="/$(arg uav_name_1)/uvdar/filteredPoses/tentative"/>

    </node>
  </group>

</launch>